.cm-s-monokai-sublime {
	font-size: 1em;
	line-height: 1.5em;
	font-family: inconsolata, monospace;
	letter-spacing: 0.3px;
	word-spacing: 1px;
	background: #272822;
	color: #F8F8F2;
}
.cm-s-monokai-sublime .CodeMirror-lines {
	padding: 8px 0;
}
.cm-s-monokai-sublime .CodeMirror-gutters {
	background-color: #272822;
	padding-right: 10px;
	z-index: 3;
	border: none;
}
.cm-s-monokai-sublime div.CodeMirror-cursor {
	border-left: 3px solid #F8F8F2;
}
.cm-s-monokai-sublime .CodeMirror-activeline-background {
	background: #3E3D32;
}
.cm-s-monokai-sublime .CodeMirror-selected {
	background: #49483E;
}
.cm-s-monokai-sublime .cm-comment {
	color: #75715E;
}
.cm-s-monokai-sublime .cm-string {
	color: #E6DB74;
}
.cm-s-monokai-sublime .cm-number {
	color: #66D9EF;
}
.cm-s-monokai-sublime .cm-atom {
	color: #66D9EF;
}
.cm-s-monokai-sublime .cm-keyword, .cm-s-monokai-sublime .cm-tag {
	color: #F92672;
}
.cm-s-monokai-sublime .cm-variable {
	color: #A6E22E;
}
.cm-s-monokai-sublime .cm-def {
	font-style: italic;
	color: #FD971F;
}
.cm-s-monokai-sublime .cm-variable-2 {
	color: #F92672;
}
.cm-s-monokai-sublime .cm-property {
	color: #66D9EF;
}
.cm-s-monokai-sublime .cm-operator {
	color: #F92672;
}
.cm-s-monokai-sublime .CodeMirror-linenumber {
	color: #75715E;
}