.loading {
	display: block;
	width: 100%;
	height: 100%;
	z-index: 20;

	position: absolute;
	left: 0;
	top: 0;

	background-color: #EEE;
}

.loading-content {
	display: block;
	font-size: 16px;

	position: absolute;
	left: 50%;
	top: 50%;

	transform: translate(-50%, -50%);
}

.loader {
	display: inline-block;
	width: 32px;
	height: 32px;
	vertical-align: middle;

	position: relative;
}
.loader:before, .loader:after {
	content: "";

	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 50%;

	position: absolute;
	left: 0;
	top: 0;

	backface-visibility: hidden;
}

.loader:before {
	animation: loader 2s linear infinite, color1 2s linear infinite;
}
.loader:after {
	animation: loader 2s linear infinite reverse .5s, color2 2s linear infinite .5s;
}

@keyframes loader {
	0% {
		transform: rotateY(0deg) rotateX(0deg);
	}
	25% {
		transform: rotateY(180deg) rotateX(0deg);
	}
	50% {
		transform: rotateY(180deg) rotateX(180deg);
	}
	75% {
		transform: rotateY(0deg) rotateX(180deg);
	}
	100% {
		transform: rotateY(0deg) rotateX(0deg);
	}
}

@keyframes color1 {
	0% {
		background-color: #F8007F;
	}
	25% {
		background-color: #F8007F;
	}
	25.1% {
		background-color: #007FF8;
	}
	50% {
		background-color: #007FF8;
	}
	74.9% {
		background-color: #007FF8;
	}
	75% {
		background-color: #F8007F;
	}
	100% {
		background-color: #F8007F;
	}
}
@keyframes color2 {
	0% {
		background-color: #16A61E;
	}
	25% {
		background-color: #16A61E;
	}
	25.1% {
		background-color: #A8A81F;
	}
	50% {
		background-color: #A8A81F;
	}
	74.9% {
		background-color: #A8A81F;
	}
	75% {
		background-color: #16A61E;
	}
	100% {
		background-color: #16A61E;
	}
}